@font-face {
    font-family: 'QuickSand-bold';
    src: url('../assets/fonts/Quicksand-Bold.ttf') format('truetype');
  }

@font-face {
    font-family: 'QuickSand-medium';
    src: url('../assets/fonts/Quicksand-Regular.ttf') format('truetype');
}